*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}

/**************** Header */

.header{
    width: 100%;
    min-width: 250px;
    /* height: 10rem; */
}

.navbar{
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.583);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
}
.logo{
    flex-basis: 20%;
}
.search{
    flex-basis: calc(30%);
    display: flex;
    justify-content: center;
}
.search span{
    border-radius: 5px 0 0 5px;
    background-color: rgb(230, 230, 230);
    padding: .4rem;
    font-size: 1.2rem;
    color: rgb(190, 190, 190);
}
.search_input{
    width: 70%;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 0 5px 5px 0;
}

.buttonsIcons{
    display: flex;
    justify-content: space-evenly ;
    flex-basis: calc(40%);
}
.buttonsIcons span{
    font-size: 1.8rem;

}
.user{
    width:30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}
.user img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/***************** History */
.story{
    width: 58%;
    height: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.583);
    border-radius: 8px;
    position: relative;
    /* overflow-x: auto; */
    transition: all 100ms;

}
/* .story::-webkit-scrollbar{
    visibility: hidden;
} */

.btn-scroll{
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
    color: #999;
    padding: 5px 5px;
    border: 0;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
    position: fixed;
    display: flex;
}
.btn-left{
  right: 21.5% ;
}



.story-container {
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.story-content{
    display: flex;
    gap: 10px;
    position: relative;
    left: 0px;
    transition: all 300ms;
    flex-wrap: nowrap;
}

.story-circle{
    width: 5rem;
    height: 5rem;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(231, 0, 231), rgb(255, 115,0));

}

.story-circle img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}
.story-name{
    font-size: 1rem;
}